@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-light: #EEF7FF;
  --foreground: #171717;
  --container: 93.75rem;
}

@theme inline {
  --color-brand-primary: #5272FF;
  --color-background-dark: #0D224A;
  --color-background-light: var(--background-light);
  --color-red-900: #EE0039;
  --color-gray-900: #4B5563;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
